<!DOCTYPE html>
<html>
  <head>
  <script>
   $('[data-message=true]').on('keypress', function(event){
      if(event.keyCode == 13 && event.target.value!= '') {
         App.chat.send_message(event.target.value);
         event.target.value = '';
         event.preventDefault();
       }
    });
</script>
    <title>Capstone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
